<div class="billboard">
    <div class="wrapper">
        <div class="billboardGrid">
            <div class="billboardBlurb">
                <h3>
                    {{ site.data.hero.billboard.body }}
                </h3>
                <h4 class="billboardSubtext">
                    {{ site.data.hero.billboard.subtext }}What If we add some smaller text here?
                </h4>

                <a href="" class="primaryButton">{{ site.data.hero.billboard.button }}</a>
            </div>
            <div class="billboardMedia">
                {%- include lightbox.html -%}
            </div>
        </div>
    </div>
</div>