<div class="billboard">
    <div class="wrapper">
        <div class="billboardGrid">
            <div class="billboardBlurb">
                <h3>
                    {{ site.data.hero.billboard.body }}
                </h3>
                <a href="" class="primaryButton">{{ site.data.hero.billboard.button }}</a>
            </div>
            <div class="billboardMedia">
                <div class="ss-gallery">
                    <ul id="lightgallery" class="list-unstyled">
                        <li
                            data-responsive="img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800"
                            data-src="/assets/img/bp-ss-01.png"
                            data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>"
                            data-pinterest-text="Pin it1" data-tweet-text="share on twitter 1">
                            <a href="">
                                <img class="img-responsive" src="/assets/img/thumb-01.png" alt="Thumb-1">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>