<footer>
  <img src="/assets/images/logoBookingpadFooter.svg" alt="">
  <div class="copyrightFooter">
    <p>An <a href="https://airgateway.com/" target="new">AirGateway</a> Product - All rights reserved ©2020</p>
  </div>
</footer>
<script src="/assets/js/siema.min.js"></script>
<script>
  const siemas = document.querySelectorAll('.siema');
  for (const siema of siemas) {
    new Siema({
      selector: siema,
      perPage: {
        480: 2,
        768: 3,
        1024: 4,
      },
      duration: 300,
      easing: 'cubic-bezier(.14,.27,.32,.84)',
      loop: true,
    });
  }
  // listen for keydown event
    setInterval(() => mySiema.next(), 3000)
</script>