<div id="regionHeader" class="navbar">
    <div class="wrapper">
        <div id="siteHeader">
            <div id="siteName">
                <a href="/" class="siteLogo">
                    <img src="/assets/images/logoBookingpad.svg" alt="">
                </a>
            </div>
            <div class="siteNavigation">
                <nav role="navigation">
                    <ul id="main-menu" class="primaryNavMenu menu">
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#features">Features</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#airlines">Airlines</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#pricing">Pricing</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#faq">FAQ</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#customers">Customers</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#partners">Partners</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="/#get-started">Get Started</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>