<section id="get-started" class="homeRegister section scrollspy">
    <div class="wrapper">
        <h2 class="sectionHeading">Get Started</h2>
        <div class="homeRegisterGrid">
            <div class="homeRegisterItem">
                <h3>Where to Start?</h3>
                <div class="qaItem">
                    <h4>1. Register in our Onboarding Form</h4>
                    <p>By registering in our Onboarding Form you can access our services upon the signature of our ToS.
                    </p>
                    <p><button class="js-cm-submit-button button primaryButton" type="submit"
                            onclick="window.location='http://www.example.com';" target="new">Bookingpad Onboarding
                            Form</button></p>
                </div>
                <div class="qaItem">
                    <h4>2. Get airline NDC credentials</h4>
                    <p>We will assist you to apply for airlines credentials so that your travel agency gets enabled to
                        shop and book NDC content</p>
                </div>
                <div class="qaItem">
                    <h4>3. Start using Bookingpad!</h4>
                    <p>In a matter of a days your travel agency will be NDC-enabled and accesing the best airline fares
                        in the industry</p>
                </div>
            </div>
            <div class="homeRegisterItem">
                <h3 class="registerFormTitle">Sign-Up Here For Our Newsletter</h3>
                <form id="subForm" name="registration" class="js-cm-form"
                    action="https://www.createsend.com/t/subscribeerror?description=" method="post"
                    data-id="A61C50BEC994754B1D79C5819EC1255CED94C882195007A5ADD4F88818E46110EC96CAFCD6C2C406C1A35EF7261CFB27DA88E2169DF39A767C87DC1D15A4B07F">
                    <p>
                        <input id="fieldName" name="cm-name" type="text" placeholder="Full name" required="">
                    </p>
                    <p>
                        <input id="fieldEmail" name="cm-yhhkykj-yhhkykj" type="email" class="js-cm-email-input"
                            placeholder="E-mail" required="">
                    </p>
                    <p>
                        <button class="js-cm-submit-button button secondaryButton" type="submit">Submit</button>
                    </p>
                </form>
                <script type="text/javascript"
                    src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
            </div>
        </div>
    </div>
</section>