<div class="homePricing">
    <div class="wrapper">
        <h2 class="sectionHeading">Plan & Pricing</h2>
        <div class="homePricingGrid">
            <div class="homePricingItem">
                <div class="homePricingHead">
                    <h3>Basic</h3>
                    <div class="homePricingRate">
                        <span>59€</span> /month
                    </div>
                </div>
                <div class="homeFeaturesText">
                    <p>
                        For agency that needs most. All Pro features plus...
                    </p>
                    <ul>
                        <li>Amazing feature one</li>
                        <li>Feature two is sleek</li>
                        <li>Superduper feat 3</li>
                    </ul>
                </div>
                <div class="homePricingCta">
                    <a href="">Get Started</a>
                </div>
            </div>
            <div class="homePricingItem planPro spotlight">
                <div class="homePricingHead">
                    <h3>Pro</h3>
                    <div class="homePricingRate">
                        <span>309€</span> /month
                    </div>
                </div>
                <div class="homePricingText">
                    <p>
                        For agency that needs more. All Basic features plus...
                    </p>
                    <ul>
                        <li>Amazing feature one</li>
                        <li>Feature two is sleek</li>
                        <li>Superduper feat 3</li>
                        <li>Fourth cool feature</li>
                        <li>Number 5 offering</li>
                    </ul>
                </div>
                <div class="homePricingCta">
                    <a href="">Get Started</a>
                </div>
            </div>
            <div class="homePricingItem">
                <div class="homePricingHead">
                    <h3>Business</h3>
                    <div class="homePricingRate">
                        <span>899€</span> /month
                    </div>
                </div>
                <div class="homePricingText">
                    <p>
                        For agency that needs most. All Pro features plus...
                    </p>
                    <ul>
                        <li>Amazing feature one</li>
                        <li>Feature two is sleek</li>
                        <li>Superduper feat 3</li>
                        <li>Fourth cool feature</li>
                        <li>Number 5 offering</li>
                        <li>Cutting-edge sixth</li>
                    </ul>
                </div>
                <div class="homePricingCta">
                    <a href="">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>