<div class="homeCustomers">
    <div class="wrapper">
        <h2 class="sectionHeading">Customers</h2>
        <div class="homeCustomersBlurb">
            <h3>Our amazing happy customers</h3>
            <p>Sample text: We work hard to deliver the best for our customers.</p>
            <a href="#">See all our customers</a>
        </div>
        <div class="homeCustomersGrid">
            <div class="homeCustomersItem">
                <img src="/assets/images/logoCTM.png" alt="">
                <h4>Corporate Travel Management</h4>
                <p>USA</p>
            </div>
            <div class="homeCustomersItem">
                <img src="/assets/images/logoATG.png" alt="">
                <h4>ATG Business Travel Management</h4>
                <p>USA</p>
            </div>
            <div class="homeCustomersItem">
                <img src="/assets/images/logoATLAS.png" alt="">
                <h4>ATLAS Travel & Technology Group</h4>
                <p>USA</p>
            </div>
        </div>

    </div>
</div>