<div id="customers" class="homeCustomers">
    <div class="wrapper">
        <h2 class="sectionHeading">Customers</h2>
        <div class="homeCustomersBlurb">
            <h3>Our Customers</h3>
            <p>Valuable customers that have joined our journey to a differentiated Travel Tech strategy</p>
            <a href="#">See all our customers</a>
        </div>
        <div class="homeCustomersGrid">
            {% for customer in site.customers %}
            <div class="homeCustomersItem">
                <img src="{{ customer.logo }}" alt="">
                <h4>{{ customer.name }}</h4>
                <p>{{ customer.country }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
