<div class="homePartners">
    <div class="wrapper">
        <h2 class="sectionHeading">Partners</h2>
        <div class="homePartnersBlurb">
            <h3>Our magnificent partners</h3>
            <p>Sample text: We work hard to work with our partners.</p>
            <a href="#">See all our partners</a>
        </div>
        <div class="homePartnersGrid">
            <div class="homePartnersItem">
                <img src="/assets/images/logoUmbrella.png" alt="">
                <h4>Umbrella</h4>
                <p>Travel Management</p>
            </div>
            <div class="homePartnersItem">
                <img src="/assets/images/logoMidoco.png" alt="">
                <h4>Midoco</h4>
                <p>Mid/Back-Office</p>
            </div>
            <div class="homePartnersItem">
                <img src="/assets/images/logoBBT.png" alt="">
                <h4>BookingBuilder Technologies</h4>
                <p>Point-of-Sale</p>
            </div>
        </div>
    </div>
</div>