<div id="register" class="homeRegister">
    <div class="wrapper">
        <h2 class="sectionHeading">Register</h2>
        <div class="homeRegisterGrid">
            <div class="homeRegisterItem">
                <form id="subForm" name="registration" class="js-cm-form"
                    action="https://www.createsend.com/t/subscribeerror?description=" method="post"
                    data-id="A61C50BEC994754B1D79C5819EC1255CED94C882195007A5ADD4F88818E46110EC96CAFCD6C2C406C1A35EF7261CFB27DA88E2169DF39A767C87DC1D15A4B07F">
                    <p>
                        <input id="fieldName" name="cm-name" type="text" placeholder="Full name" required="">
                    </p>
                    <p>
                        <input id="fieldEmail" name="cm-yhhkykj-yhhkykj" type="email" class="js-cm-email-input"
                            placeholder="E-mail" required="">
                    </p>
                    <p>
                        <input id="fieldjuykhdj" name="cm-f-juykhdj" type="text" placeholder="Phone Number (optional)">
                    </p>
                    <p>
                        <button class="js-cm-submit-button button primaryButton" type="submit">Submit</button>
                    </p>
                </form>
                <script type="text/javascript"
                    src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
            </div>
            <div class="homeRegisterItem">
                <h3>How it works?</h3>
                <div class="qaItem">
                    <h4>Get airline NDC credentials</h4>
                    <p>We will assist you to apply for airlines credentials so that your travel agency gets authorized to access and book NDC contents.</p>
                </div>
                <div class="qaItem">
                    <h4>Get airline NDC credentials</h4>
                    <p>In a matter of a days your travel agency will be NDC-enabled and accesing the best fares in the industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>