<div id="#features" class="homeFeatures">
    <div class="wrapper">
        <h2 class="sectionHeading">Product Features</h2>
        <div class="homeFeaturesGrid">
            <div class="homeFeaturesList">

                {% for feature in site.features %}
                <div class="homeFeaturesItem">
                    <div class="homeFeaturesImg">
                        <img src="{{ feature.image }}" alt="">
                    </div>
                    <div class="homeFeaturesText">
                        <h3>
                            {{ feature.title }}
                        </h3>
                        <p>
                            {{ feature.content }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="homeUpdates">
                <div class="homeUpdatesBox">
                    <h3>
                        NEWS & UPDATES
                    </h3>
                    <ul class="homeUpdatesList">
                        <li>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0ZM11 14H4V12H11V14ZM14 10H4V8H14V10ZM14 6H4V4H14V6Z"
                                    fill="#2F2E41" />
                            </svg>
                            <span>
                                <a href="">
                                    Requesting and Identifying Private in an NDC Offer
                                </a>
                                <em class="updatesDate">07-02-2020</em>
                            </span>
                        </li>
                        <li>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0ZM11 14H4V12H11V14ZM14 10H4V8H14V10ZM14 6H4V4H14V6Z"
                                    fill="#2F2E41" />
                            </svg>
                            <span>
                                <a href="">
                                    Grouping offers by itinerary to display all options at one glance
                                </a>
                                <em class="updatesDate">07-02-2020</em>
                            </span>
                        </li>
                        <li>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16 0H2C0.9 0 0 0.9 0 2V16C0 17.1 0.9 18 2 18H16C17.1 18 18 17.1 18 16V2C18 0.9 17.1 0 16 0ZM11 14H4V12H11V14ZM14 10H4V8H14V10ZM14 6H4V4H14V6Z"
                                    fill="#2F2E41" />
                            </svg>
                            <span>
                            <a href="">
                                Added Export capability for issued Orders
                            </a>
                            <em class="updatesDate">07-02-2020</em>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>