<div class="homeFaq">
    <div class="wrapper">
        <h2 class="sectionHeading">FAQ</h2>
        <div class="homeFaqGrid">
            <div class="homeFaqItem">
                <h3>Why is Bookingpad so awesome?</h3>
                <p>We aggregate shopping content, features, and bookings from all the NDC airlines you are authorized.
                    All of it in one single and consistent web application.</p>
                <a href="#">See all Bookingpad features ></a>
            </div>
            <div class="homeFaqItem">
                <h3>How does it help boost my travel agency?</h3>
                <p>By using Bookingpad, partner agents can increase your value added service and revenue by selling
                    ancillary services such as paid seats, extra luggage, on-board Wifi or premium meals, etc...</p>
                <a href="#">See what our customers say ></a>
            </div>
            <div class="homeFaqItem">
                <h3>Why NDC is the future</h3>
                <p>NDC enables airlines to deliver rich-content and ancillary services such us paid seats, extra
                    luggage, on-board Wifi or premium meals.</a>
            </div>
            <a href="#">See all FAQs ></a>
            <div class="homeUserGuide">
                <h4>User Guide</h4>
                <p>Learn how to use Bookingpad's main features.</p>
                <a href="#">Read the docs</a>
            </div>
        </div>
    </div>
</div>