<div class="lightbox">
    <ul id="lightgallery">
        {% for screenshot in site.data.screenshots %}
        <li data-responsive="img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800"
            data-src="/assets/img/{{ screenshot.image }}"
            data-sub-html="<h4>{{ screenshot.title }}</h4><p>{{ screenshot.description }}</p>">
            <a href="">
                <img class="img-responsive" src="/assets/img/{{ screenshot.thumb }}"
                    alt="Screenshot image of {{ screenshot.title }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>