<div id="regionHeader" class="navbar">
    <div class="wrapper">
        <div id="siteHeader">
            <div id="siteName">
                <a href="/" class="siteLogo">
                    <img src="/assets/images/logoBookingpad.svg" alt="">
                </a>
            </div>
            <div class="siteNavigation">
                <nav role="navigation">
                    <ul id="main-menu" class="primaryNavMenu menu">
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#feat">Features</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#airlines">Airlines</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#pricing">Pricing</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#faq">FAQ</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#customers">Customers</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#partners">Partners</a>
                        </li>
                        <li class="primaryNavMenuItem">
                            <a class="menu-item" href="{{ site.url }}#get-started">Get Started</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>