.billboard {
  display: block;
  background-color: #e9f4ff;
  padding: 2rem 1rem;

  & * {
    &::after,
    &::before {
      box-sizing: border-box;
    }
  }

  &Grid {
    @media only screen and (min-width: 960px) {
      display: flex;
      align-items: center;
    }
  }

  &Blurb {
      width: 44%;
      box-sizing: content-box;
    h3 {
      font-size: 2.5rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
    }
  }

  &Media {
    img {
      margin: 0 auto;
      max-width: 100%;
    }
  }
}