.homeCustomers {
  background-color: #e9f4ff;
  padding: 2rem 1rem 4rem;

  @media only screen and (min-width: 960px) {
    padding-bottom: 6rem;
  }

  &Grid {
    display: flex;
    justify-content: space-between;
    flex-flow: column-reverse nowrap;

    @media only screen and (min-width: 960px) {
      flex-flow: row-reverse nowrap;
      align-items: baseline;
    }
  }

  &Item {
    padding: 2rem 1rem;
    text-align: center;

    h4 {
      font-weight: 600;
    }

    img {

      min-width: 120px;
      max-width: 180px;
      opacity: .7;
    }

    p {
      font-size: 1rem;
      color: $gray;
    }
  }

  &Blurb {
    text-align: center;
    margin-bottom: 1rem;

    p {
      font-size: 1.4rem;
      margin: 1rem auto;
    }
    a {
      font-size: 1rem;
    }
  }

  h3 {
    color: #ac0004;
    font-size: 2.5rem;
    font-weight: 600;
  }
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
}
