.homeFeatures {
    padding: 2rem 1rem 3rem;

    @media only screen and (min-width: 960px) {
        padding: 2rem 1rem;
    }

  &Grid {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 960px) {
      grid-template-columns: 1fr 320px;
      grid-gap: 8rem;
    }
  }

  &Item {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;

    @media only screen and (min-width: 960px) {
      grid-gap: 4rem;
      grid-template-columns: 240px 1fr;
    }

    ul {
      margin-left: 1.3rem;
      margin-bottom: 1rem;
      li {
        list-style-type: disc;
        margin-bottom: .5rem;

        em {
          display: inline-block;
          border: solid 2px $redDark;
          color: $redDark;
          text-transform: uppercase;
          font-size: .8rem;
          font-weight: 800;
          padding: .2rem .2rem .1rem;
          line-height: 1;
        }
      }
    }
  }
  &Img {
    margin-bottom: 0.8rem;
    img {
      @media only screen and (min-width: 960px) {
        width: 100%;
      }
    }
  }

  h3 {
    color: $redDark;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.8rem;

    @media only screen and (min-width: 960px) {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.homeUpdates {
  &Box {
    background: #fffbef;
    border: 1px solid #596371;
    padding: 2rem;
    margin: 0 1rem;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.1);
    border-radius: 7px;

    @media only screen and (min-width: 960px) {
      padding: 3rem;
    }

    ul {
      li {
        margin-bottom: 1.1rem;
        a {
          font-size: 1rem;
        }
      }
    }
  }

  &List {
    li {
      display: flex;
      align-items: flex-start;
      position: relative;

      svg {
        min-width: 24px;
        margin-top: 5px;
        margin-right: .5rem;
      }
    }
  }

  h3 {
    color: $black;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  .updatesDate {
    display: block;
    color: #999999;
    font-size: 0.85rem;
    padding-top: 0.4rem;
  }
}

.see-all {
  font-size: .9rem;
}