$red: #c00005;
$mint: #00c086;

body {
  background-color: #E4ECF6;
}

a {
  text-decoration: none;
}

.cols {
  display: grid;
  grid-template-columns: 1fr;

  &--half {
    @media screen and (min-width: 40rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &--third {
    @media screen and (min-width: 40rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &--quad {
    @media screen and (min-width: 40rem) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.billboard {
  padding: 4rem 3rem 6rem;
  grid-gap: 3rem;

  .layout {
    max-width: 960px;
    grid-gap: 3rem;
    align-items: center;
    @media screen and (min-width: 40rem) {
      grid-template-columns: 1fr 360px;
    }
  }

  &-header {
    h1 {
      color: $red;
      font-size: 2.4rem;
      font-weight: 800;
      margin: 0;
    }
    h2 {
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 1.4;
      margin: 0.5rem 0 3rem;
      letter-spacing: -0.05rem;

      em {
        font-weight: 800;
        font-style: normal;
        position: relative;
        white-space: nowrap;

        &::after {
          content: '';
          display: inline-block;
          position: absolute;
          bottom: 4px;
          left: 0;
          width: 100%;
          height: 12px;
          background-color: rgba($color: $mint, $alpha: 0.4);
        }
      }
    }
  }

  &-video {
    background-color: black;
    width: 360px;
    height: 202.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 24px rgba($color: #000000, $alpha: 0.4);
  }

  &-action {
    .button {
      border-radius: 5px;
      background-color: $red;
      color: white;
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-weight: 800;
      font-size: 1rem;
    }
  }
}

.button {
  border: none;
  border-radius: 5px;
  background-color: $red;
  color: white;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-size: 1rem;
}

form {
  input {
    font-size: 1.6rem;
    padding: 1rem;
    margin: .5rem 0;
  }
}

.hero {
  margin: 0 auto;
  max-width: 72rem;
  display: flex;
  justify-content: space-between;

  &__blurb {
    margin-right: 4rem;
  }

  h1 {
    font-weight: 700;
    margin: 1rem 0;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 0;

    em {
      color: $red;
      font-style: normal;
    }
  }

  a {
    &.button {
      font-weight: 700;
      background-color: $red;
      color: white;
      padding: 1rem 2rem;
      border-radius: 4px;
      text-decoration: none;

      &:hover {
        background-color: darken($color: $red, $amount: 5);
      }
    }
  }
}

.video {
  max-height: 320px;
  background-color: black;
  margin-top: 3rem;
}

.layout {
  margin: 0 auto;
  max-width: 72rem;

  &.narrow {
    max-width: 40rem;
  }
}

.features {
  padding: 4rem 0;
  ul {
    list-style: none;
    grid-gap: 4rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.4;
    margin: 0.5rem 0 1rem;
  }
}

.airlines {
  min-height: 480px;
  padding: 3rem 0;
  text-align: center;
  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    
    em {
      font-size: 3.6rem;
      font-weight: 800;
    }
  }
  ul {
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    li {
      padding: 3rem;
    }
  }
}

.get-started {
  background-color: whitesmoke;
  padding: 4rem 0;
  p {
    margin-left: 4rem;
  }
}

.liner {
  &::before {
    content: '';
    display: block;
    margin-bottom: 1rem;
    width: 2.4rem;
    height: 8px;
    background-color: $red;

    @media screen and (max-width: 30em) {
      width: 2.5rem;
      height: 8px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: 0;

  @media screen and (max-width: 30em) {
    align-items: start;
    margin-top: 3rem;
  }
}

.coming {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  transition: all;
  transition-delay: 0.4s;

  h1 {
    color: $red;
    font-size: 4.8rem;
    font-weight: 800;
    margin: 0;

    @media screen and (max-width: 30em) {
      font-size: 2.7rem;
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0.5rem 0;
    letter-spacing: -0.03rem;
    @media screen and (max-width: 30em) {
      font-size: 1.5rem;
    }

    em {
      font-weight: 800;
      font-style: normal;
      position: relative;
      white-space: nowrap;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: rgba($color: $mint, $alpha: 0.25);

        @media screen and (max-width: 30em) {
          height: 8px;
          bottom: 6px;
        }
      }
    }
  }
  &-text {
    color: $mint;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: 6px solid $mint;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.4rem;
    @media screen and (max-width: 30em) {
      font-size: 1.2rem;
      border-width: 4px;
      white-space: nowrap;
      padding: 1rem;
      display: block;
    }
  }
}

.illustration {
  position: relative;
  background: #f4f4f4;

  .winger {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: -8rem;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.icon-headline {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.get-started {
  h3 {
    font-size: 1.8rem;
    font-weight: 800;
  }
  svg {
    margin-right: 1rem;
  }
  ul {
    li {
      margin-bottom: 3rem;
    }
  }
}