.billboard {
  background-color: #eeeeee;
  padding: 6rem 3rem;

  .hero {
    margin: 0 auto;
    max-width: 72rem;
    display: flex;
    justify-content: space-between;

    &__blurb {
      margin-right: 4rem;
    }

    h1 {
      font-weight: 700;
      margin: 1rem 0;
    }

    h2 {
      font-size: 3.2rem;
      font-weight: 900;
      margin-top: 0;
    }

    a {
      &.button {
        font-weight: 700;
        background-color: #c00005;
        color: white;
        padding: 1rem 2rem;
        border-radius: 4px;
        text-decoration: none;

        &:hover {
          background-color: darken($color: #c00005, $amount: 5);
        }
      }
    }
  }

  .video {
    max-height: 320px;
    background-color: black;
    margin-top: 3rem;
  }
}

.layout {
  margin: 0 auto;
  max-width: 72rem;

  &.narrow {
    max-width: 48rem;
  }
}

.features {
  padding: 4rem 0;
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 0;

    list-style: none;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.4;
  }
}

.airlines {
  min-height: 320px;
  background-color: #eeeeee;
  padding: 3rem 0;
  text-align: center;
  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.4rem;
  }
}

.get-started {
  padding: 4rem 0;
}
