body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  &:hover {
    color: $red;
  }
}

strong {
  font-weight: 700;
}

.primaryButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  cursor: pointer;
  background-color: $red;
  color: white;
  padding: 0.87rem 1rem;

  &:hover {
    color: white;
    background-color: $redDark;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  zoom: 1;
  @media only screen and (min-width: 960px) {
    max-width: 1200px;
    min-width: 801px;
    width: auto;
  }
}

.primaryNavMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  line-height: 2;

  @media only screen and (min-width: 760px) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    line-height: 1;
  }

  &Item {
    font-family: Titillium Web;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.04rem;

    @media only screen and (min-width: 760px) {
      display: flex;
      margin-right: 1rem;
    }
    & > a {
      padding: 10px;
    }
  }
}

#regionHeader {
  background-color: #e9f4ff;
  padding-top: 1rem;
}

#siteHeader {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 11px;
  position: relative;
  justify-content: space-between;

  @media only screen and (min-width: 960px) {
    flex-flow: row nowrap;
    min-height: 48px;
    padding: 0.5rem 1rem;
  }
}

#siteName {
  display: flex;
  align-items: center;
  line-height: 1;
}

.linkRegister {
  a {
    text-transform: uppercase;
    color: $red;
    font-size: 1.1rem;
    font-weight: 800;
  }
}

.sectionHeading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  letter-spacing: 0.1em;
  color: #2f2e41;
  text-transform: uppercase;
  padding: 0.4rem 0 0.4rem 1rem;
  margin: 2rem 0;
  border-left: 5px solid $red;

  @media only screen and (min-width: 960px) {
    padding: 0.8rem 0 0.8rem 1rem;
    margin: 3rem 0 4rem;
  }
}

.siteFeatures {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: $red;
    font-size: 1rem;
  }
}

#region {
  &Main {
    width: 100%;
  }
}

footer {
  background-color: #e9f4ff;
  padding: 3rem 1rem;
  .copyrightFooter {
    p {
      color: $grayDark;
      margin-top: 1rem;
    }
  }
}

.homeAirlines {
  display: block;
  background-color: #e9f4ff;
  padding: 2rem 1rem;

  &Table {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}

.tableWrapper {
  overflow-x: auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
}
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  margin: 0 auto;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);

  th {
    background-color: #2f2e41;
    color: white;
    padding: 0.8rem 0.4rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  td {
    padding: 0.8rem 0.3rem;
    vertical-align: middle;
    line-height: 1;

    svg {
      opacity: 0.6;
    }
  }

  tr {
    background-color: rgba(255, 255, 255, 0.6);

    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
      svg {
        opacity: 1;
      }
    }

    td {
      &:first-child {
        color: $redDark;
      }
    }
  }
  col:first-child {
    background-color: #cfe6fd;
  }
}

.table-legend {
  margin: 2rem 0 4rem;
  ul {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    @media only screen and (min-width: 960px) {
      width: 67%;
      grid-template-columns: repeat(3, 1fr);
    }
    li {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      padding: 0.3rem 0;
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
