$red: #c00005;
$mint: #00c086;

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  &:hover {
    color: $red;
  }
}

.cols {
  display: grid;
  grid-template-columns: 1fr;

  &--half {
    @media screen and (min-width: 48rem) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &--third {
    @media screen and (min-width: 48rem) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &--quad {
    @media screen and (min-width: 48rem) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.billboard {
  background-image: url(/assets/images/bg-image-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 3rem 11rem;
  grid-gap: 3rem;
  position: relative;

  .layout {
    max-width: 960px;
    grid-gap: 3rem;
    align-items: center;
    @media screen and (min-width: 48rem) {
      grid-template-columns: 1fr 390px;
    }
  }

  &-header {
    h1 {
      color: $red;
      font-size: 3.7rem;
      font-weight: 800;
      margin: 0;
    }
    h2 {
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.3;
      margin: 0.5rem 0 3rem;
      letter-spacing: -0.08rem;

    }
  }

  &-video {
    background-color: black;
    width: 360px;
    height: 202.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 24px rgba($color: #000000, $alpha: 0.4);
  }
}
em {
  color: #000000;
  font-weight: 800;
  font-style: normal;
  position: relative;
  white-space: nowrap;
  letter-spacing: -.02rem;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: rgba($color: $red, $alpha: 0.5);
  }
}

.button {
  border: none;
  border-radius: 5px;
  background-color: $red;
  color: white;
  padding: 1rem 2.15rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px rgba(60,60,60,.11),0 1px 3px rgba(0,0,0,.08);
  &:hover {
    color: white;
    background-color: darken($color: $red, $amount: 4);
  }
}

form {
  input[type="text"],
  input[type="email"] {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    margin: .5rem 0;
    border: 2px solid #aaaaaa;
    width: 100%;
    &:focus {
      border-color: #444444;
    }
  }
  .button {
    margin-top: 1rem;
  }
}
::placeholder {
  font-weight: 300;
  color: #888888;
}
.hero {
  margin: 0 auto;
  max-width: 72rem;
  display: flex;
  justify-content: space-between;

  &__blurb {
    margin-right: 4rem;
  }

  h1 {
    font-weight: 700;
    margin: 1rem 0;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: 900;
    margin-top: 0;

    em {
      color: $red;
      font-style: normal;
    }
  }
}

.video {
  max-height: 320px;
  background-color: black;
  margin-top: 3rem;
}

.layout {
  margin: 0 auto;
  max-width: 72rem;

  &.narrow {
    max-width: 36rem;
  }
}

.features {
  padding: 3rem 3rem 6rem;

  ul {
    list-style: none;
    grid-gap: 4rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0.5rem 0 1rem;
  }
}

.airlines {
  background-color: #E9F4FF;
  padding: 5rem 1rem 1rem;
  text-align: center;
  h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    span {
      font-weight: 400;
      font-size: 2rem;
      display: block;
    }
  }
  .airlines-logos {
    margin: 3rem 0;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    grid-column-gap: 3.5rem;
    grid-template-columns: repeat(2,1fr);
    @media screen and (min-width: 60rem) {
      grid-template-columns: repeat(4,1fr);
    }
  }
  img {
    width: 100%;
    max-width: 250px;
    vertical-align: middle;
  }
}

.liner {
  &::before {
    content: '';
    display: block;
    margin-bottom: 1rem;
    width: 2.4rem;
    height: 8px;
    background-color: $red;

    @media screen and (max-width: 30em) {
      width: 2.5rem;
      height: 8px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin-top: 0;

  @media screen and (max-width: 30em) {
    align-items: start;
    margin-top: 3rem;
  }
}

.coming {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  transition: all;
  transition-delay: 0.4s;

  h1 {
    color: $red;
    font-size: 4.8rem;
    font-weight: 800;
    margin: 0;

    @media screen and (max-width: 30em) {
      font-size: 2.7rem;
    }
  }

  h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0.5rem 0;
    letter-spacing: -0.03rem;
    @media screen and (max-width: 30em) {
      font-size: 1.5rem;
    }

    em {
      font-weight: 800;
      font-style: normal;
      position: relative;
      white-space: nowrap;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 12px;
        background-color: rgba($color: $mint, $alpha: 0.25);

        @media screen and (max-width: 30em) {
          height: 8px;
          bottom: 6px;
        }
      }
    }
  }
  &-text {
    color: $mint;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: 6px solid $mint;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.4rem;
    @media screen and (max-width: 30em) {
      font-size: 1.2rem;
      border-width: 4px;
      white-space: nowrap;
      padding: 1rem;
      display: block;
    }
  }
}

.illustration {
  position: relative;
  z-index: 1;

  .winger {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
  }
}

.icon-headline {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.get-started {
  padding: 6rem 3rem 3rem;
  margin-bottom: 5rem;
  background-image: url(/assets/images/bg-image-bottom.jpg);
  background-repeat: no-repeat;
  background-size: 64%;
  background-position: right bottom;

  h3 {
    font-size: 2rem;
    letter-spacing: -.01rem;
  }
  svg {
    margin-right: 1rem;
  }
  ul {
    li {
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem;
      padding-bottom: 2rem;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 60px;
        left: 23px;
        width: 1px;
        height: 100%;
        background-image: linear-gradient($red 20%, #888888, #ffffff);
      }

      &.start-booking {
        &::after {
          background-image: none;
        }
      }
    }
  }
  p {
    margin-left: 4rem;
  }
}

.site-footer {
  background-color: #E9F4FF;
  padding: 1rem 3rem 3rem;
  p {
    text-align: center;
  }
}

.sharedForm .formFieldAndSubmitContainer {
  background-color: #ffffff !important;
}

.siema {
  margin: 4rem auto;
  padding: 0 1rem;
}

.cta {
  margin-left: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}