.lg-img-wrap {
  img {
    &.lg-image {
      @media only screen and (min-width: 780px) {
        max-height: 100vh;
      }
      @media only screen and (min-width: 960px) {
        max-height: 80vh;
      }
      @media only screen and (min-width: 1200px) {
        max-height: 81vh;
      }
    }
  }
}

.lg-sub-html {
  @media only screen and (min-width: 780px) {
    padding: 16px 70px;
  }
  h4 {
    @media only screen and (min-width: 780px) and (max-width: 1024px) {
      font-size: 16px;
    }
  }
  p {
    @media only screen and (min-width: 780px) and (max-width: 1024px) {
      font-size: 12px;
    }
  }
}

ul {
  &#lightgallery {
    li {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}

.lightbox {
  line-height: 0;
}
