.homePartners {
  padding: 2rem 1rem 4rem;
  @media only screen and (min-width: 960px) {
    padding-bottom: 6rem;
  }

  &Grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: column-reverse nowrap;

    @media only screen and (min-width: 960px) {
      flex-flow: row-reverse nowrap;
    }
  }

  &Item {
    padding: 2rem 1rem;
    text-align: center;

    h4 {
      font-weight: 600;
    }

    img {
      mix-blend-mode: multiply;
      min-width: 140px;
      max-width: 200px;
    }

    p {
      font-size: 1rem;
      color: $gray;
    }
  }

  &Blurb {
    text-align: center;
    margin: 0 auto 1rem;

    p {
      font-size: 1.4rem;
      margin: 1rem auto;
    }
    a {
      font-size: 1rem;
    }
  }

  h3 {
    color: #ac0004;
    font-size: 2.5rem;
    font-weight: 600;
  }
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  font-size: 1rem;
}
