.post {
  margin: 0 auto;
  padding: 3rem 0;

  &-info {
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-align: center;

    time {
      color: #b0b0b0;
      text-transform: uppercase;
    }
  }

  &-title {
    font-size: 3.2rem;
    line-height: 1.2;
    margin: 1rem 0;
    text-align: center;
    letter-spacing: -0.01rem;
  }

  &-line {
    border-top: 0.4rem solid $red;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  &-body {
    font-size: 1.125rem;
  }

  h2 {
    line-height: 1.4;
    margin: 2rem 0 1rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 1.6;
    margin: 1rem 0 1.5rem;

    &:first-of-type {
      color: #202020;
      font-size: 1.6rem;
      line-height: 1.4;
      letter-spacing: -0.01rem;
    }

    img {
      padding: 1rem 0;
      border: 1px solid #f0f0f0;
      margin: 0 auto;
    }
  }

  ul {
    list-style: disc;
    list-style-position: inside;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0.5rem auto;
    max-width: 100%;
  }

  img + em {
    display: block;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }
}

.pagination {
  border-top: 0.5px solid #e5e5e5;
  padding-top: 1rem;
  margin-top: 4rem;
  position: relative;
  text-align: center;

  span {
    font-size: 1.1rem;
  }

  .top {
    font-size: 1.1rem;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    position: absolute;
    font-size: 2rem;
    top: 1rem;

    &:hover,
    &:focus {
      opacity: 0.6;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}

.catalogue {
  &-desc {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  &-item {
    border-bottom: 1px solid #e5e5e5;
    display: block;
    padding: 2rem 0;

    &:hover {
      color: #202020;
    }

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
      border-color: $redDark;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: #b0b0b0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
  }

  &-title {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &-line {
    transition: all 0.3s ease-out;
    border-top: 0.2rem solid #202020;
    display: block;
    width: 2rem;
  }

  .sectionHeading {
    @media only screen and (min-width: 960px) {
      margin-bottom: 2rem;
    }
  }
}

main {
  .wrapper {
    @media only screen and (min-width: 960px) {
      max-width: 800px;
      min-width: 641px;
      width: auto;
    }
  }
}
