.billboard {
    display: grid;
    grid-template-columns: 1fr minmax(400px,640px) 1fr;
    padding: 4rem 3rem;
    text-align: center;
    &__content {
        grid-column-start: 2;
        position: relative;
    }
}
 
.slide {
    &One {
        background-color: #fdfdfd;
    }
}

.slideTwo {
    background-color: #269762;
    color: white;
}

.title {
    font-size: 3rem;
}

.image {
    max-width: 320px;
    margin: 1.5rem auto;
}
