<!DOCTYPE html>
<html>
  {%- include head.html -%}

  <body>
    <div class="billboard">
      <div class="hero">
        <div class="hero__blurb w-50">
          <h1>Bookingpad</h1>
          <h2>The most advanced NDC-ready Booking Tool for Travel Agents</h2>
          <div class="hero__btn-wrapper">
            <a class="button" href="#">Get started</a>
          </div>
        </div>
        <div class="video w-50"></div>
      </div>
    </div>
    <div class="features">
      <div class="layout">
        <ul>
          <li>
            <h3>Comprehensive shopping, booking, and servicing</h3>
            <p>
              Curabitur tristique nisi vitae vestibulum tristique. Sed rhoncus
              tincidunt enim, id euismod lacus consequat vitae. Proin ultrices
              fermentum lobortis.
            </p>
          </li>
          <li>
            <h3>Modern web Interface ready for rich-content</h3>
            <p>
              Rhoncus tincidunt enim, id euismod lacus consequat vitae. Proin
              ultrices fermentum lobortis. Curabitur tristique nisi vitae
              vestibulum tristique.
            </p>
          </li>
          <li>
            <h3>Sell post-booking ancillaries</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              rhoncus tincidunt enim, id euismod lacus consequat vitae.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="airlines">
      <div class="layout">
        <h3>Get the best fares from NDC-ready airlines!</h3>
        <div class="airlines-carousel"></div>
      </div>
    </div>
    <div class="get-started">
      <div class="layout narrow">
        <div class="register">
          <h3>Sign up here</h3>
          <form action="">
            <input type="text" name="name" id="" />
            <input type="email" name="email" id="" />
            <input type="submit" value="Register" />
          </form>
        </div>
        <div class="credentials">
          <h3>Get airline credentials</h3>
          <p>
            Curabitur tristique nisi vitae vestibulum tristique. Sed rhoncus
            tincidunt enim, id euismod lacus consequat vitae. Proin ultrices
            fermentum lobortis.
          </p>
        </div>
        <div class="start-booking">
          <h3>Start booking with NDC</h3>
          <p>
            Curabitur tristique nisi vitae vestibulum tristique. Sed rhoncus
            tincidunt enim, id euismod lacus consequat vitae. Proin ultrices
            fermentum lobortis.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
