<!DOCTYPE html>
<html>
  {%- include head.html -%}

  <body>
    <!-- Lead Forensics tracker-->
      <script type="text/javascript" src="https://secure.mari4norm.com/js/163211.js" ></script>
      <noscript><img alt="" src="https://secure.mari4norm.com/163211.png" style="display:none;" /></noscript>
    <!-- Lead Forensics tracker-->

    <div class="billboard" role="banner">
      <div class="layout cols">
        <div class="billboard-header">
          <div class="liner"></div>
          <h1>Bookingpad</h1>
          <h2>
            The most advanced <em>NDC-ready</em> booking tool for travel agents
          </h2>
            <a class="button" href="/#register-form">Get started</a>
        </div>
        <div class="billboard-image">
          <img src="/assets/images/screenshot-bp.png">
          </div>
        </div>
      </div>
    </div>
    <div class="illustration">
      <div class="winger">
          <svg viewBox="0 0 1600 180" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1600 0L0 167.865V180H1600V0Z" fill="white"/>
          </svg>
      </div>
    </div>
    <div class="features">
      <div class="layout">
        <ul class="cols cols--third">
          <li>
            <svg
              width="80"
              height="80"
              viewBox="0 0 80 80"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="80" height="80" fill="none" />
              <path
                d="M20 6.66667L10 20V66.6667C10 68.4348 10.7024 70.1305 11.9526 71.3807C13.2029 72.631 14.8986 73.3333 16.6667 73.3333H63.3333C65.1014 73.3333 66.7971 72.631 68.0474 71.3807C69.2976 70.1305 70 68.4348 70 66.6667V20L60 6.66667H20Z"
                stroke="#C00005"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10 20H70"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M53.3333 33.3333C53.3333 36.8696 51.9286 40.2609 49.4281 42.7614C46.9276 45.2619 43.5362 46.6667 40 46.6667C36.4638 46.6667 33.0724 45.2619 30.5719 42.7614C28.0714 40.2609 26.6667 36.8696 26.6667 33.3333"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3>Comprehensive shopping, booking, and servicing for all NDC airlines in one single tool</h3>
            <p>
              We aggregate shopping content, features, and bookings from all the NDC airlines you are authorized. All of it in one single and consistent web application.
            </p>
          </li>
          <li>
            <svg
              width="80"
              height="80"
              viewBox="0 0 80 80"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="80" height="80" fill="none" />
              <path
                d="M40 73.3333C58.4095 73.3333 73.3333 58.4095 73.3333 40C73.3333 21.5905 58.4095 6.66667 40 6.66667C21.5905 6.66667 6.66667 21.5905 6.66667 40C6.66667 58.4095 21.5905 73.3333 40 73.3333Z"
                stroke="#C00005"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.66667 40H73.3333"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M40 6.66667C48.3376 15.7945 53.0758 27.6401 53.3333 40C53.0758 52.3599 48.3376 64.2055 40 73.3333C31.6624 64.2055 26.9242 52.3599 26.6667 40C26.9242 27.6401 31.6624 15.7945 40 6.66667V6.66667Z"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3>Modern WEB interface ready for airline rich-content and personalization</h3>
            <p>
              NDC enables airlines to deliver rich-content and ancillary services such us paid seats, extra luggage, on-board Wifi or premium meals.
            </p>
          </li>
          <li>
            <svg
              width="80"
              height="80"
              viewBox="0 0 80 80"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M46.6666 6.66666H20C18.2319 6.66666 16.5362 7.36904 15.2859 8.61928C14.0357 9.86952 13.3333 11.5652 13.3333 13.3333V66.6667C13.3333 68.4348 14.0357 70.1305 15.2859 71.3807C16.5362 72.6309 18.2319 73.3333 20 73.3333H60C61.7681 73.3333 63.4638 72.6309 64.714 71.3807C65.9643 70.1305 66.6666 68.4348 66.6666 66.6667V26.6667L46.6666 6.66666Z"
                stroke="#C00005"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M46.6667 6.66666V26.6667H66.6667"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M53.3334 43.3333H26.6667"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M53.3334 56.6667H26.6667"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M33.3334 30H30H26.6667"
                stroke="#C00005"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <h3>Sell airline ancillary services and multiple upgrades</h3>
            <p>
             By using Bookingpad, partner agents can increase your value added service and revenue by selling ancillary services such as paid seats, extra luggage, on-board Wifi or premium meals, etc...
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="airlines">
      <div class="layout">
        <h3>Get the <em>best fares</em><span>from NDC-ready airlines!</span></h3>
        <div class="airlines-carousel siema">
          {% for airline in site.data.airlines %}
          <div>
            <img src="/assets/images/{{ airline.logo }}">
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div id="register-form" class="get-started">
      <ul class="layout narrow">
        <li class="register">
          <div class="icon-headline">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M28 4L36 12L14 34H6V26L28 4Z" stroke="#C00005" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M6 44H42" stroke="#C00005" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3 class="fw8">Register here</h3>
          </div>
          <form id="subForm" name="registration" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CED94C882195007A5ADD4F88818E46110EC96CAFCD6C2C406C1A35EF7261CFB27DA88E2169DF39A767C87DC1D15A4B07F">	
            <p>
                <input id="fieldName" name="cm-name" type="text" placeholder="Full name" required/>
            </p>
            <p>
                <input id="fieldEmail" name="cm-yhhkykj-yhhkykj" type="email" class="js-cm-email-input" placeholder="E-mail"
                required />
            </p>
            <p>
                <button class="js-cm-submit-button button" type="submit">Submit</button>
            </p>
            </form>
          <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
        </li>
        <li class="credentials">
          <div class="icon-headline">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M38 22H10C7.79086 22 6 23.7909 6 26V40C6 42.2091 7.79086 44 10 44H38C40.2091 44 42 42.2091 42 40V26C42 23.7909 40.2091 22 38 22Z" stroke="#C00005" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M14 22V14C14 11.3478 15.0536 8.8043 16.929 6.92893C18.8043 5.05357 21.3479 4 24 4C26.6522 4 29.1957 5.05357 31.0711 6.92893C32.9465 8.8043 34 11.3478 34 14V22" stroke="#C00005" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3 class="fw7">Get airline credentials</h3>
          </div>
          <p>
            We will assist you to apply for airlines credentials so that your travel agency gets authorized to access and book NDC contents.
          </p>
        </li>
        <li class="start-booking">
          <div class="icon-headline">
            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M44 22.16V24C43.9975 28.3128 42.6009 32.5093 40.0186 35.9636C37.4363 39.4179 33.8065 41.9449 29.6707 43.1678C25.5348 44.3906 21.1145 44.2438 17.0689 42.7491C13.0233 41.2545 9.56925 38.4922 7.22186 34.8741C4.87447 31.256 3.75952 26.9761 4.04329 22.6726C4.32706 18.3691 5.99435 14.2726 8.7965 10.9941C11.5986 7.71561 15.3855 5.43074 19.5923 4.48026C23.7991 3.52979 28.2005 3.96465 32.14 5.71997" stroke="#C00005" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M44 8L24 28.02L18 22.02" stroke="#C00005" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <h3 class="fw7">Start booking with NDC</h3>
          </div>
          <p>
            In a matter of a days your travel agency will be NDC-enabled and accesing the best fares in the industry.
          </p>
        </li>
      </div>
    </div>
    <div class="illustration">
      <div class="winger">
        <svg viewBox="0 0 1600 120" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0L1600 107.865V120H0V0Z" fill="#E9F4FF"/>
        </svg>
      </div>
    </div>
    <div class="site-footer">
      <p>An <a href="https://airgateway.com/" target="new">AirGateway</a> Product - All rights reserved ©2019</p>
    </div>

  <script src="/assets/js/siema.min.js"></script>
    <script>
      const mySiema = new Siema({
        perPage: {
          480: 2,
          768: 3,
          1024: 4,
        },
        duration: 300,
        easing: 'cubic-bezier(.14,.27,.32,.84)',
        loop: true,
      });
      // listen for keydown event
      setInterval(() => mySiema.next(), 3000)
  </script>
  {%- include google-analytics.html -%}
  </body>
</html>
