<!DOCTYPE html>
<html>
{%- include head.html -%}

<body>

  <div id="regionHeader">
    <div class="wrapper">
      <div id="siteHeader">
        <div id="siteName">
          <a href="" class="siteLogo">
            Bookingpad
          </a>
        </div>
        <div class="siteNavigation">
          <nav role="navigation">
            <ul class="primaryNavMenu">
              <li class="primaryNavMenuItem">
                <a href="">Features</a>
              </li>
              <li class="primaryNavMenuItem">
                <a href="">Airlines</a>
              </li>
              <li class="primaryNavMenuItem">
                <a href="">Customers</a>
              </li>
              <li class="primaryNavMenuItem">
                <a href="">Partners</a>
              </li>
              <li class="primaryNavMenuItem">
                <a href="">Pricing</a>
              </li>
              <li class="primaryNavMenuItem">
                <a href="">FAQ</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="siteFeatures">
          <div class="siteFeturesItem">
            <a href="">Sign Up</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="regionMain">

    {%- include billboard.html -%}

    <main>

      {%- include home_features.html -%}
      {%- include home_airlines.html -%}
      {%- include home_pricing.html -%}

    </main>

    {%- include footer.html -%}

  </div>
</body>