<!DOCTYPE html>
<html>
{%- include head.html -%}

<body>

  {%- include site_header.html -%}

  <div id="regionMain">

    {%- include billboard.html -%}

    {%- include home_features.html -%}
    {%- include home_airlines.html -%}
    {%- include home_pricing.html -%}
    {%- include home_faq.html -%}
    {%- include home_customers.html -%}
    {%- include home_partners.html -%}
    {%- include home_register.html -%}

    {%- include footer.html -%}

  </div>
  <script src="/assets/js/lightgallery.js"></script>
  <script src="/assets/js/lg-thumbnail.js"></script>

  <script src="/assets/js/scroll.js"></script>
  <script>
    window.onload = function () {
      scrollSpy('#main-menu', {
        sectionClass: '.scrollspy',
        menuActiveTarget: '.menu-item',
        offset: 100
      })
    }
  </script>


  <script>
    lightGallery(document.getElementById('lightgallery'), {
      mode: 'lg-slide',
      thumbnail: true,
      animateThumb: true,
      showThumbByDefault: false,
      download: false
    });
  </script>

  <!-- Leedfeeder Tracker -->
  <script>
    (function(){

      window.ldfdr = window.ldfdr || {};
      (function(d, s, ss, fs){
        fs = d.getElementsByTagName(s)[0];

        function ce(src){
          var cs  = d.createElement(s);
          cs.src = src;
          setTimeout(function(){fs.parentNode.insertBefore(cs,fs)}, 1);
        }

        ce(ss);
      })(document, 'script', 'https://sc.lfeeder.com/lftracker_v1_p1e024BJvAK4GB6d.js');
    })();
  </script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77281199-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-77281199-6');
  </script>


</body>